@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || GENERAL STYLE */
body {
    font: 1.5rem 'Nunito', sans-serif;
    min-height: 100vh;

    background-color: darkcyan;
    background-image: radial-gradient(whitesmoke, darkcyan);

    display: flex;
    flex-direction: column;
}

header, nav, main, footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header, footer {
    position: sticky;
    background-color: beige;
}

header {
    top: 0;
}

nav {
    background-color: lightpink;
    color: #fff;
    padding: 0.5rem;
    border-bottom: 2px solid #eee;
}

main {
    flex-grow: 1;
}

footer {
    bottom: 0;
}

/* || SMALL */
@media screen and (min-width: 576px) {
    body {
        background-color: coral;
        background-image: radial-gradient(whitesmoke, coral);
    }

    nav {
        display: none;
    }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
    body {
        background-color: gold;
        background-image: radial-gradient(whitesmoke, gold);
    }
}

/* || LARGE */
@media screen and (min-width: 992px) {
    body {
        background-color: firebrick;
        background-image: radial-gradient(whitesmoke, firebrick);
    }
}

/* || XL */
@media screen and (min-width: 1200px) {
    body {
        background-color: rebeccapurple;
        background-image: radial-gradient(whitesmoke, rebeccapurple);
    }
}

/* || MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    body {
        background-color: dodgerblue;
        background-image: radial-gradient(whitesmoke, dodgerblue);
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    nav {
        display: none;
    }
}