@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 800px;
  min-height: 400px;
  /* centered horizontally */
  margin-inline: auto;
  border: 1px solid #ccc;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  align-content: space-evenly;
}

.box {
  /* min-width: 100px; */
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;

  /* center the numbers in the boxes */
  display: flex;
  align-items: center;
  justify-content: center;

  /* in this case it´s = min-width */
  /* flex-basis: 300px;
    flex-shrink: 1; */

  /* grow, shrink, basis */
  flex: 1 1 300px;
}

.box:nth-child(2) {
  /* flex-shrink: 2; */
  flex: 2 2 300px;
  order: -1;
}
